.parent-el{
    width:20%;
    margin:20px;
    background-color: grey;
    color:white;
}
header{
    background-color: blue;
    color: aliceblue;
    font-size: 50px;
    margin:20px;

}
label{
    color:darkorange;
    background-color: cornflowerblue;
    margin: 20px;
}
form{
    background-color: cornflowerblue;
    margin:10px;
}
.current-weather{

}
.current-city{
    width:30%;
    background-color: grey;
    color:white;
    margin-left: 2%;
}
.current-city img{
    height: 75px;
    width: 75px;

}
.card-header{
    background-color: cornflowerblue;
    color: darkorange;
    margin:10px;
}
.btn{
    color: cornflowerblue;
    background-color:darkorange;
    border: 5px black;
}

.save-btn{
    background-color: darkorange;
    color:cornflowerblue;
    width: 90%;
    margin:2% auto;
}
.safe{
    background-color:green;
    color: black;
}
.mild{
    background-color:yellow;
    color:black;
}
.moderate{
    background-color: orange;
    color:black;
}
.severe{
    background-color: red;
    color:black;
}